@import url(fonts.css);

body {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto;
    height: 100vh;
    height: 100dvh;
    margin: 0;
    background: linear-gradient(135deg, #aaa, #eee 40%);
    overflow: hidden;
    font: 1rem/0.8 monaco, menlo, Inconsolata, "Operator Mono", monospace;
}

img {
    margin: 0;
    vertical-align: middle;
    border: none;
}

fieldset {
    border: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

@media (min-width: 940px) {
    .container {
        width: 90vmin;
        height: 60vmin;
    }
}

.frame-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.visual-frame, #preloader, #shadow {
    width: 100vw;
    object-fit: cover;
    border: none;
}

.visual-frame {
    scroll-snap-align: start;
}

#preloader {
    height: 100vh;
    transform: scale(.99);
}

#preloader.hidden {
    opacity: 0;
}

#shadow {
    display: none;
}

@media (min-width: 940px) {
    .frame-container {
        position: relative;
        inset: initial;
        display: block;
        overflow-x: initial;
    }

    .visual-frame, #preloader, #shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 70vmin 40vmin / 35vmin 40vmin;
    }

    .visual-frame {
        scroll-snap-align: unset;
        opacity: 0;
        transform: scale(.9);
        transition: opacity .4s, transform .5s;
    }

    .visual-frame.active {
        z-index: 1;
        transform: scale(1);
        opacity: 1;
    }

    #shadow {
        display: inline-block;
        transform: scale(1.05);
        filter: blur(3.5vmin) contrast(1.5) saturate(0.6) brightness(4);
        transition: all .25s;
    }

    #shadow.disappearing {
        transform: scale(0.9);
        filter: blur(3.5vmin) contrast(1.5) saturate(0.6) brightness(4);
    }
}

.countdown {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    place-content: center;
    align-items: center;
    text-align: center;
    gap: 0.8em;
    font-size: 8vmin;
    color: white;
    font-variant: small-caps;
    text-shadow: 0 0 5px #0006;
    pointer-events: none;
}

@media (min-width: 940px) {
    .countdown {
        font-size: 4.75vmin;
        pointer-events: auto;
    }
}

.countdown .key {
    font-size: 0.4em;
    opacity: 0.5;
    text-shadow: 0 0 3px #0007;
}

.selector {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    padding: 0.9em;
    display: flex;
    gap: max(0.6em, 2vmin);
    font-size: clamp(18px, 28px, 4vmin);
    backdrop-filter: blur(5px);
    border-radius: 15vmin;
    background: #fff4;
    box-shadow: 1px 1px 10px #0001;
}

@media (min-width: 940px) {
    .selector {
        font-size: 2vmin;
        border-radius: 0;
        background: none;
        backdrop-filter: none;
        gap: 1.2vmin;
        box-shadow: none;
    }
}

.selector input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.selector-thumb {
    width: clamp(32px, 48px, 5vmin);
    height: clamp(32px, 48px, 5vmin);
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    transition: all .3s;
}

@media (min-width: 940px) {
    .selector-thumb {
        transition: all .5s;
    }

    .selector input:focus + label .selector-thumb,
    .selector-thumb:hover {
        opacity: 0.8;
    }
}

.selector input:checked + label .selector-thumb {
    opacity: 1;
}
